/**
 * Place your custom styles here.
 */

.txt-center {
  text-align: center;
}
.txt-left {
  text-align: left;
}
.txt-right {
  text-align: right;
}

.page-node-12 .views-row {
  margin-bottom: 20px;
}
.page-node-12 .views-field-title {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}
.img-responsive {
  display: inline;
}


/* PULL THESE INTO MAIN CSS */
.region-content .section-gold {
  background: #FFC627;
  color: #fff;
}
#region-home-banner .col-sm-6 {
  background: rgba(0,0,0,0.9);
  border-radius: 10px;
}
#region-home-banner h2 {
  color: #FFC627;
}
.img-banner-top {
	background-position: 50% 1% !important;
}
.img-banner-bottom {
	background-position: 50% 99% !important;
}
.sf-menu.sf-style-default span.nolink {
  border: none;
  color: #fff;
  padding: 15px 25px 17px;

}
.text-center {
  width: 100%;
  float: left;
}
.flexslider {
  position: relative;
  margin-top: 13px;
}
.flexslider .views-field-title {
  position: absolute;
  bottom: 130px;
  left: 35px;
}
.flexslider .views-field-title .field-content,
.flexslider .views-field-title .field-content a {
  text-transform: uppercase;
  color: #FFF;
  font-size: 55px;
  font-weight: bold;
  text-shadow: 1px 1px #888;
}
.flexslider .views-field-title .field-content a.dark {
  color: #444;
}
.flexslider .views-field-body {
  background-color: #000;
  position: absolute;
  bottom: 45px;
  left: 39px;
}
.flexslider .views-field-body .field-content p {
  color: #FFC627;
  font-size: 36px;
  padding: 8px 20px 10px 13px;
  line-height: 1em;
}
#block-views-slider-block {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
.front #block-system-main {
  width: 70%;
  padding: 0;
  float: left;
}
.block.twitter {
  width: 23%;
  float: right;
}
.view-id-start .views-field-title a {
  font-weight: bold;
}
.pagination > li > a,
.pagination > li > span {
  color: #8C1D40;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #8C1D40;
  border-color: #8C1D40;
}
@media (max-width: 780px) {
  .col-sm-12 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .flexslider {
    margin-top: 0;
  }
  .slides {
    margin: 0;
    padding: 0;
  }
  .flexslider .views-field-body {
    bottom: auto;
    left: auto;
    position: relative;
  }
  .flexslider .views-field-title {
    bottom: auto;
    left: auto;
    position: relative;
    background-color: #4A4A4A;
  }
  .flexslider .views-field-title .field-content,
  .flexslider .views-field-title .field-content a {
    font-size: 22px;
    padding-left: 10px;
  }
  .flexslider .views-field-body .field-content p {
    font-size: 18px;
  }
  .front #block-system-main {
    width: 90%;
    margin: 0 5%;
  }
  .block.twitter {
    display: none;
  }
}
